
body{
    margin: 16px;

}

h1,h2,h3{
    font-weight: bold;
}

i{
    padding-left: 10px;

}

.fa-facebook-official{
    color: darkblue;
}

.fa-twitter{
    color: cornflowerblue;
}

.fa-google-plus{
    color: red;
}

.fa:hover{
    color: black;
}

img{
    width: 40%;

}

footer{
    background-color: #b3c4c7;
    border-top-style: solid;
    border-top-color: #999999;

}

.main-wrapper{
    width: 1024px;
    height: 760px;

}


.col-sm-6{
    border:solid;
}

#father{
    background-color: cornflowerblue;
}

#father2{
    background-color: #449d44;
    height: 100%;
}

.row [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden;
}

#son1{
    background-color: #00b3ee;
    margin-left: 3%;


   
}

#son2{
    background-color: #337ab7;
    margin-left: 1%;
    align-content: center;
}

#son3{
    background-color: chartreuse;
}



@media(max-width: 767px){
    .logo{
        display: none;
    }


}

@media(max-width: 992px){
    #son1, #son2, #son3{
        border-top: solid;
        padding-left: 10%;
    }


    #father2{
        border-top: solid;
    }

    #son1, #son2{
        margin-left:2%;
        margin-right: 2%;
    }

}