
<h1>This is the father component</h1>

<form name="messageForm">
    <Label>Message to my brother:
        <input type="text" name="newMessage"
               ng-model="message" />

    </Label>
    <button class="btn-primary" ng-click="vm_father.sendMessage(message)">Add</button>
</form>

<h3>Father message with binding: <span ng-bind="message"></span></h3>
<h3>Father message without binding: {{vm_father.newMessage}}</h3>
<h3>Message received from the son: {{vm_father.sonMessage}}</h3>
<h3>Message received from the nephew: {{vm_father.nephewMessage}}</h3>

<div class="row">
    <div class="col-md-6" id="son1">
        <ip-son-directive></ip-son-directive>
    </div>
    <div class="col-md-6" id="son2">
        <ip-second-son-directive></ip-second-son-directive>
    </div>
</div>
