
<div id="father">
    <h1>This is the father component</h1>

    <form name="messageForm">
        <Label>Message:
            <input type="text" name="newMessage"
                   ng-model="message" />

        </Label>
        <button class="btn-primary" ng-click="vm_father.sendMessage(message)">Add</button>
    </form>

    <h3>Father message: <span ng-bind="message"></span></h3>
    <h3>Father message without binding: {{vm_father.newMessage}}</h3>
    <ip-son-directive></ip-son-directive>



</div>