<h3>Dropdown</h3>



<div class="btn-group" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{vm_combo.userSelected}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="contact in vm_combo.contacts">
            <a href="#" ng-click="vm_combo.selectUser(contact.firstName)">{{contact.firstName + " "+ contact.lastName}}</a>
        </li>

    </ul>
</div>


